@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply bg-gray-100;
}

a { 
  @apply text-blue-500;
}

a:hover {
  @apply text-gray-800;
}

.nav a:hover {
  @apply cursor-pointer;
}

.nav-item:hover {
  @apply text-gray-800;
  @apply border-b-4;
  @apply border-gray-200;
}

.editor blockquote {
  @apply border-l-4;
  @apply border-gray-800;
  @apply pl-10;
  @apply pr-4;
  @apply py-4;
  @apply bg-gray-100;
  @apply italic;
  @apply text-gray-800;
}

.editor ul {
  @apply list-disc;
  @apply pl-8;
}

.editor ol {
  @apply list-decimal;
  @apply pl-8;
}

.editor h1,
.editor h2,
.editor h3 {
  @apply font-bold;
  @apply mb-4;
}

.editor h1 {
  @apply text-5xl;
}

.editor h2 {
  @apply text-3xl;
}

.editor h3 {
  @apply text-xl;
}

.progress-bar {
  background: rgb(198,246,213);
  background: linear-gradient(90deg, rgba(198,246,213,1) 0%, rgba(47,133,90,1) 100%);
  transition: width 0.8s;
<<<<<<< HEAD
}

.words-written {
  height: 0;
  transition: opacity 0.6s;
}

.words-written:hover {
  opacity: 1;
=======
>>>>>>> Add progress bar
}