#landing .section-box {
  width: 100%;
  height: 400px;
  top: 898px;
  transform: skewY(-10deg);
}

#landing .boxes,
#landing .icon-container {
  transform: skewY(-10deg);
  top: -495px;
}

#landing .boxes,
#landing .icon-container {
  height: 1400px;
}

#landing .boxes {
  background: rgb(210, 223, 221);
  background: linear-gradient(315deg, rgba(40,230,205,1) 0%, rgba(38,221,245,1) 100%); 
}

#landing .boxes .box,
#landing .icon-container .box {
  position: absolute;
  top: 0;
  height: 200px;
}

#landing .icon-container .icon {
  height: 1600px;
  top: 200px;
  right: 0;
  transform: rotate(-25deg);
  position: absolute;
}

#landing .icon-container .icon path {
  fill: rgba(255, 255, 255, 0.2);
}

#landing .boxes .box-one {
  width: 600px;
  top: 403px;
}

#landing .boxes .box-two {
  width: 1000px;
  right: 0;
  top: 1285px;
}

#landing .icon-container .box-three {
  width: 700px;
  right: 0;
  top: 1180px;
  background: rgb(40,230,205);
  background: linear-gradient(315deg, rgba(40,230,205,1) 0%, rgba(38,221,245,1) 100%);
}

#landing header .container {
  height: 1000px;
}

#landing header .content  {
  margin-top: 150px;
}

#landing header a {
  color: white;
}

#landing header a:hover {
  color: rgba(245, 245, 245, 1);
}

#landing .platform-description .box {
  width: 100%;
  height: 800px;
  transform: skewY(-10deg);
}

#landing .platform-description .container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing .platform-description .container svg {
  width: 350px;
}

#landing .editor svg {
  width: 350px;
}

#landing .editor .editor-svg {
  margin-top: -100px;
}

#landing .editor .box {
  width: 100%;
  height: 750px;
  top: -120px;
  transform: skewY(-10deg);
}

#landing footer {
  background: black;
  height: 340px;
  background: #0A0A3C;
}

#landing footer a {
  color: #FA557D;
}

#landing footer a:hover {
  color: white;
  cursor: pointer;
}

#landing footer .sqreen rect {
  stroke: #FA557D;
}

#landing footer .sqreen path {
  fill: #FA557D;
}

#landing footer .sqreen:hover rect {
  stroke: white;
}

#landing footer .sqreen:hover path {
  fill: white;
}

#landing footer .box {
  width: 100%;
  height: 475px;
  top: -305px;
  transform: skewY(-10deg);
  background: #0A0A3C;
}
